    
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        
           <a href="/admin/home" class="active"
                        style="font-size: 24px; font-weight: bold; font-family: 'Roboto', sans-serif;">ELEGANCE</a>
               
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
            </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item ">
                <a class="menu-link" href="/admin/home"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            {{!-- <li class="menu-item ">
                <a class="menu-link" href="/admin/viewsalesreport"> <i class="icon material-icons md-home"></i>
                    <span class="text">Sales Report</span>
                </a>
            </li> --}}
            <li class="menu-item ">
                <a class="menu-link" href="/admin/product"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>

            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/orders"> <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>

            </li>
            
            <li class="menu-item ">
                <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-category"></i>
                    <span class="text">Category</span>
                </a>
                </li>
            <li class="menu-item">
                    <a class="menu-link" href="/admin/coupons"><i class="icon fa-solid fa-ticket"></i>
                        <span class="text">Coupons</span>
                    </a>
      </li>

      <li class="menu-item ">
                <a class="menu-link " href="/admin/review"> <i class="icon material-icons md-comment"></i>
                    <span class="text">Reviews</span>
                </a>
            </li>

            
            <li class="menu-item active">
                <a class="menu-link" href="/admin/manage_users"> <i class="icon material-icons md-person"></i>
                    <span class="text">Users</span>
                </a>

            </li>

            <li class="menu-item">
                <a class="menu-link" href="/admin/logout"> <i class="icon material-icons md-exit_to_app"></i>
                    <span class="text"> Logout </span>
                </a>
            </li>

           

            
        </ul>
        
        <br>
    </nav>
</aside>
    <main class="main-wrap">

        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title">Users list</h2>

            </div>
            <div class="card mb-4">
                
                <div class="card-body ">
                    <div class="table-responsive ">
                        <table class="table table-hover ">
                            <thead>
                                <tr>
                                    <th class="text-center">User</th>
                                    <th class="text-center">Email</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Registered</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            {{#each allUsersData}}
                            <tbody>
                                <tr >
                                    <td width="20%" class="text-center">
                                        {{!-- <a href="#" class="itemside"> --}}
                                            {{!-- <div class="left mt-5">
                                                <img src="/images/users/{{this.image.[0]}}" class="img-sm img-avatar" alt="Userpic">
                                            </div> --}}
                                            <div class="info pl-3">
                                                <h6 class="mb-0 title">{{this.name}}</h6>
                                                <small class="text-muted">{{this.mobile}}</small>
                                            </div>
                                        </a>
                                    </td>
                                    <td width="20%" class="text-center">{{this.email}}</td>
                                    {{#if this.isBlocked}}
                                    <td width="20%" class="text-center"><span class="badge rounded-pill alert-danger">Blocked</span></td>

                                    {{else}}
                                    <td width="20%" class="text-center"><span class="badge rounded-pill alert-success">Active</span></td>
                                    {{/if}}
                                    
                                    <td width="20%" class="text-center">08.07.2020</td>
                                    <td width="20%" class="text-center">
                                        {{#if this.isBlocked}}
                                        <a  class="btn btn-sm font-sm btn-primary flex-end" data-user-id="{{this._id}}"
                                            id="blockuser">
                                            Unblock
                                        </a>
                                        {{else}}
                                        <a  class="btn btn-sm font-sm btn-primary" data-user-id="{{this._id}}"
                                           id="blockuser">
                                            Block
                                        </a>
                                        {{/if}}
                                    </td>
                                </tr>

                            </tbody>
                            {{/each}}
                        </table> <!-- table-responsive.// -->
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        {{#each pages}}
                             <li class="page-item active"><a class="page-link" href="?page={{this}}">{{this}}</a></li>
                    {{/each}}
                    
                        
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
        
    </main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>


        /////block product

    $(document).ready(function () {
        $(document).on('click', '#blockuser', function (e) {
            e.preventDefault();
            var id = $(this).data('user-id');
            //var wishId = $(this).data('whishlist-id'); // Corrected variable name to wishId

            // Store reference to $(this) in a variable for use inside AJAX success and error callbacks
            var $this = $(this);

            Swal.fire({
                title: "Are you sure?",
                // text: "Do you want to block the Product?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#088178",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes!"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'POST',
                        url: '/admin/block_user',
                        contentType: 'application/json',
                        data: JSON.stringify({ id: id }),
                        success: function (productData) {
                            console.log("UserBlocked");


                            {
                                Swal.fire({
                                    title: 'Done!',
                                    //text: 'Product Succesfully Blocked!!!',
                                    icon: 'success',
                                    confirmButtonText: 'Cool'
                                }).then(() => window.location.reload())
                            }


                        },
                        error: function (xhr, status, error) {
                            console.error("Error removing product from wishlist:", error);
                            swal("Error", "Something went wrong. Please try again later.", "error");
                        }
                    });
                    Swal.fire({
                        title: "Done!",
                        text: "Your file has been deleted.",
                        icon: "success"
                    });
                }
            });


        });
    });
    </script>