
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        
            <a href="/admin/home" class="active"
                        style="font-size: 24px; font-weight: bold; font-family: 'Roboto', sans-serif;">ELEGANCE</a>
              
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
            </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item ">
                <a class="menu-link" href="/admin/home"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            
            <li class="menu-item ">
                <a class="menu-link" href="/admin/product"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>

            </li>
            <li class="menu-item active">
                <a class="menu-link" href="/admin/orders"> <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>

            </li>
            
            <li class="menu-item ">
                <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-category"></i>
                    <span class="text">Category</span>
                </a>
                </li>
            <li class="menu-item">
                    <a class="menu-link" href="/admin/coupons"><i class="icon fa-solid fa-ticket"></i>
                        <span class="text">Coupons</span>
                    </a>
      </li>

            <li class="menu-item ">
                <a class="menu-link " href="/admin/review"> <i class="icon material-icons md-comment"></i>
                    <span class="text">Reviews</span>
                </a>
            </li>

            <li class="menu-item">
                <a class="menu-link" href="/admin/manage_users"> <i class="icon material-icons md-person"></i>
                    <span class="text">Users</span>
                </a>

            </li>

            <li class="menu-item">
                <a class="menu-link" href="/admin/logout"> <i class="icon material-icons md-exit_to_app"></i>
                    <span class="text"> Logout </span>
                </a>
            </li>

           

           
        </ul>
        
       
    </nav>
</aside>

<main class="main-wrap">

    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Order List </h2>

            </div>
            
        </div>
        <div class="card mb-4">

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">Date</th>
                                <th scope="col" class="text-center">#ID</th>
                                <th scope="col" class="text-center">Payment Method</th>
                                <th scope="col" class="text-center">Status</th>
                                <th scope="col" class="text-center">Change Order Status</th>
                                <th scope="col" class="text-center"> Action </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each ordersData}}
                            <tr>

                                <td class="text-center">{{this.date}}</td>
                                <td class="text-center"><b>{{this.orderId}}</b></td>
                                <td class="text-center">{{this.paymentMethod}}</td>

                                <td class="text-center"><span class="badge bg-primary">{{this.status}}</span></td>
                                <td class="text-center">
                                    
                                    {{#ifeq this.status 'Delivered'}}
                                    
                                     <form action="/admin/change_status?id={{this._id}}" method="post">
                                        <div class="d-flex w-50 ml-30">
                                            <div class="col-lg-2 col-6 col-md-3 w-100 mr-15">
                                                <select name="status" class="form-select"
                                                    aria-label="Default select example" id = "status">
                                                   
                                                    <option value="Delivered" disabled selected>Delivered</option>
                                                    
                                                </select>
                                            </div>
                                            <div>
                                                <button type="submit" class="btn btn-primary w-100" disabled>Delivered</button>
                                            </div>
                                        </div>
                                    </form>
                                    {{else}}
                                    <form action="/admin/change_status?id={{this._id}}" method="post">
                                        <div class="d-flex w-50 ml-30">
                                            <div class="col-lg-2 col-6 col-md-3 w-100 mr-15">
                                                <select name="status" class="form-select"
                                                    aria-label="Default select example" id = "status">
                                                    <option selected hidden>Change order status</option>
                                                    <option value="Shipped">Shipped</option>
                                                    <option value="Delivered">Delivered</option>
                                                    <option value="Cancelled">Cancel</option>
                                                </select>
                                            </div>
                                            <div>
                                                <button type="submit" class="btn btn-primary w-100">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                   
                                    {{/ifeq}}
                                
                                </td>
                                <td class="text-center">
                                    <a href="/admin/order_details?id={{this._id}}" type="button"
                                        class="btn btn-primary w-100"> View Detail</a>
                                </td>
                            </tr>
                            {{/each}}












                        </tbody>
                    </table>
                </div> <!-- table-responsive //end -->
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
        <div class="pagination-area mt-15 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start ">
                    {{#each pages}}
                    <li class="page-item {{#ifEquals this ../currentPage}}active{{/ifEquals}} "><a class="page-link " href="?page={{this}}">{{this}}</a></li>
                    {{/each}}
                </ul>
            </nav>
        </div>
    </section> <!-- content-main end// -->
    {{!-- <footer class="main-footer font-xs">
        <div class="row pb-30 pt-15">
            <div class="col-sm-6">
                <script data-cfasync="false"
                    src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                <script>
                    document.write(new Date().getFullYear())
                </script> ©, Evara - HTML Ecommerce Template .
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end">
                    All rights reserved
                </div>
            </div>
        </div>
    </footer> --}}
</main>